.h1{
    font-family: "Geist", sans-serif;
}


.navbar-times {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}



/* header animation section */

  .image-section {
    /* padding-top: 6.25rem; */
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    height: 34.6875rem;
    position: absolute;
    right: 0;
}


.image-section-mobile {
    display: none;
}

.image-box {
    width: auto;
    align-items: center;
    height: 100%;
    transition: all 1s ease-out;
}



.image-box {
    margin-right: 10px;
    cursor: pointer;
}


.image-box-mobile {
    width: auto;
    align-items: center;
    height: 100%;
    transition: all 1s ease-out;
}



.image-box-mobile {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    cursor: pointer;
}




@media (max-width: 1336px) {

    .mt-26 {
        margin-top: 26rem !important;
    }

    .image-section {
        display: none;
    }

    .image-section-mobile {
        margin-bottom: 50px;
        justify-self: center;
        display: flex;
        align-items: center;
        position: absolute;
        width: auto;
        height: 24.6875rem;
        right: 0;
        top: 1rem;
    }



    #box-mobile1 {
        width: 15.5rem;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    #box-mobile2 {
        width: 5.5rem;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    #box-mobile3 {
        width: 2.375rem;
        height: 100%;
        object-position: center;
        object-fit: cover;

    }

    #box-mobile4 {
        width: 0px;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

}


@media (min-width: 1336px) {

    #box1 {
        width: 22.5rem;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    #box2 {
        width: 12.5rem;
        height: 100%;
        object-position: center;
        object-fit: cover;
      
    }

    #box3 {
        width: 9.375rem;
        height: 100%;
        object-position: center;
        object-fit: cover;
        

    }
}





@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        transform: translateX(-30px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }

}



#box4 {
    width: 0px;
    height: 100%;
    object-position: center;
    object-fit: cover;
}


@keyframes rotateBoxes {
    0% {
        transform: translateX(0);
   
    }

    33% {
        transform: translateX(-10%);
        
    }

    66% {
        transform: translateX(-10%);
       
    }

    100% {
        transform: translateX(0);
      
    }
}




@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.popup-zoom {
  animation: zoomInOut 2s ease-in-out infinite;
}
